* {
    margin: 0;
    padding: 0;
}

.block-1 {
    height: 100vh;
}

.block-1 .menu {
    background: #15263e;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    height: 70px;
}

.block-1 .menu p {
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.block-1 .menu .stroke {
    width: 5px;
    height: 2px;
    margin: 0 40px;
    background: #fff;
}

.block-1 .content {
    height: calc(100% - 100px);
    background: url('./back.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-1 .content p {
    text-align: center;
    font-family: sans-serif;
}

.block-1 .content .text-1 {
    color: #fff;
    font-size: 40px;
}

.block-1 .content .text-2 {
    color: #fff;
    font-size: 200px;
    background-image: linear-gradient(20deg, #a21af0, #ff0072);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;    
}

.block-1 .content .text-3 {
    color: #fff;
    font-size: 60px;
    letter-spacing: 90px;
    font-weight: 600;
    width: 540px;
}

.block-1 .content .text-4 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.block-1 .content button {
    background: linear-gradient(20deg, #a21af0 0%, #e00064 100%);
    padding: 15px 25px;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    border: none;
    cursor: pointer;
}


.block-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-2 .gray {
    background-color: #dcdcde;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.grayItem {
    display: flex;
    align-items: center;
}

.grayItem img {
    width: 100px !important;
    height: 100px !important;
}

.grayItem .mainText {
    font-size: 20px;
    color: #4d4d4d;
    font-family: sans-serif;
}

.grayText {
    margin-left: 30px;
}

.grayText .header {
    margin-bottom: 20px;
    font-size: 20px;
    color: #4d4d4d;
    font-weight: 600;
    font-family: sans-serif;
}

.block-2 img {
    width: 578px;
    height: 558px;
    display: flex;
    justify-content: center;
}

.left, .right {
    width: 450px;
}

.block-2 .left .name {
    text-align: right;
    color: #15263e;
    font-size: 70px;
    font-weight: 700;
    font-family: sans-serif;
}

.block-2 .left .designer {
    text-align: right;
    color: #a21af0;
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    margin: 10px 0 30px;
}

.block-2 .left .text {
    text-align: right;
    color: #494949;
    line-height: 35px;
    font-size: 20px;
    font-family: sans-serif;
}

.block-2 .right .line {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

.block-2 .right .line:first-child {
    margin: 0;
}

.block-2 .right .line .text {
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.block-2 .right .line .stroke {
    height: 10px;
    width: 400px;
    background: linear-gradient(20deg, #a21af0 48%, #e00064 54%);
    border-radius: 10px;
}